# Folder dan file sistem
.DS_Store
Thumbs.db

# Node modules (jika pakai npm untuk Netlify Functions)
node_modules/
package-lock.json

# Environment files (kalau kamu pakai API key rahasia)
.env

# Log files
npm-debug.log
yarn-debug.log
yarn-error.log

# Cache Netlify (optional, jika pakai Netlify CLI)
.netlify/